			body{
                color: white;
                font-size: 24px;
                font-family: 'Text Me One', sans-serif;
                text-align: center;
            }

            header {
                width: 100%;
                position: absolute;
                padding: 1em 0;
                left: 0;
                top: 0;
                background-color: #F9F1E4;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            header > div {
                width: 980px;
                margin: 0 auto;
            }

            .logo {
                width: 10%;
                margin-top: 0.5em;
            }

            .animsition {
                width: 70%;
            }

            .project-meta {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 21px;
                color: #fdbe87;
                right: 0;
                margin-top: 0.5em;
                margin-right: 5em;
                text-align: left;
                line-height: 15px;
                position: fixed;
            }

/*            .strong {
                font-family: 'Carrois Gothic SC', sans-serif;
                letter-spacing: 0.1em;
            }*/

            .image-list {
                width: 70%;
                position: relative;
                display: block;
                margin-top: 8.5em;
                padding: 1em 3.5em 0;
            }

            .image-list img {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0.5em;
            }

            .project {
                width: 100%;
                float: left;
                padding: 1em 1em 0;
                color: #fdbe87;
                font-size: 14px;
                margin-bottom: 1em;
                letter-spacing: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .project h2{
                font-family: 'Carrois Gothic SC', sans-serif;
                font-size: 38px;
                letter-spacing: 0.1em;
                margin-bottom: 0.3em;
            }

            hr {
                width: 5%;
                border-style: solid;
                margin-bottom:2em;
            }

            .project p {
                width: 50%;
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
            }

            .item{
                position: relative;
                display: inline-block;
                margin-top: 6.5em;
                margin-left: auto;
                margin-right: auto;
            }

            .item p {
                color: #666666;
                font-size: 20px;
            }

            .item img {
                width: 60%;
                margin-top: 2em;
                margin-bottom: 1em;
            }

            .jenswebimg {
                display: inline;
            }

            .jenswebimg img {
                width: 60%;
                margin-top: 2em;
                margin-bottom: 1em;
            }

            .jens {
                width: 50%;
                color: #666666;
                font-size: 16px;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
            }

            iframe {
                width: 100%;
                height: 749px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: 1em;
            }

            .topbtn {
                margin-top: 2em;
                margin-bottom: 2em;
            }

            .btnpos {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            .btn {
                font-family: 'Carrois Gothic SC', sans-serif;
                font-size: 20px;
                color: #3A3835;
                text-decoration: none;
                border-style: double;
                border-color: #ACA08D;
                line-height: 100px;
                letter-spacing: 2px;
                padding: 20px 25px;
            }

            a.btn:hover, a.btn:focus {
                border-style: solid;
                border-color: #fdbe87;
                box-shadow: inset 0 0 0 2.5px #fdbe87;
                transition: box-shadow 0.2s;
            }

            .mobile{
                width: 28.3%;
                display: inline-block;
            }

            .feature {
                text-decoration: none;
                color: #666666;
            }

            .item .shootingstars {
                width: 45%;
                margin: 0;
            }

            .screenshots-container {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                height: auto;
                display: inline-block;
                position: relative;
                float: none;
            }


            .screenshots-container img {
                width: 30%;
                margin: 0.3em;
                display: inline-block;
                position: relative;
            }

            .mobile-container {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                height: auto;
                display: inline-block;
                position: relative;
                float: none;
            }


            .mobile-container img {
                width: auto;
                margin: 0.3em;
                display: inline-block;
                position: relative;
            }

            .colourpalettes img {
                width: auto;
                margin-bottom: 2em;
            }

            .footer {
                width: 100%;
                position: absolute;
                background-color: #F9F1E4;
                margin-top: 1em;
                padding: 0.5em;
                left: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .contact {
                color: #ACA08D;
                font-size: 20px;
                margin-top: 1.5em;

            }

            .contact a {
                text-decoration: none;
            }

            .contact a:hover {
                opacity: 0.7;
            }

            .contact p {
                margin-top: 0.5em;
                color: #666666;
            }

            .copyright {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 15px;
                color: #ACA08D;
                opacity: 0.6;
            }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

            body {
                margin: 0;
            }

            header {
                padding: 0;
            }

            .logo {
                width: 25%;
                margin-top: 0.3em;
            }

            .project-meta {
                font-size: 12px;
                margin-top: 8.5em;
                margin-right: 0;
                text-align: center;
                line-height: 10px;
                position: relative;
            }

            .image-list {
                width: auto;
                line-height: 0;
                margin-top: 0.5em;
                padding: 0;
            }

            .image-list img {
                margin-top: 0;
                margin-bottom: 0;
            }

            .project h2{
                font-size: 21px;
                letter-spacing: 0.05em;
            }

            hr {
                width: 15%;
            }

            .project p {
                margin-top: 2em;
                margin-bottom: 1em;
            }

            .item{
                width: 100%;
                margin-top: 4em;
            }

            .item p {
                width: 95%;
                font-size: 14px;
            }

            .item img {
                width: 95%;
                margin-top: 0;
            }

            iframe {
                height: 202px;
                margin-top: 0.3em;
                margin-bottom: 0.3em;
            }

            .btn {
                font-size: 12px;
                line-height: 50px;
                padding: 10px 15px;
            }

            .btnpos {
                margin-bottom: 0;
            }

            .item .shootingstars {
                width: 85%;
            }

            .mobile {
                width: 65%;
            }

            .mobile-container img {
                width: auto;
            }

            .colourpalettes img {
                width: 60%;
                margin-bottom: 1em;
            }

            .footer {
                margin-top: 0.5em;
            }

            .contact img {
                width: 10%;
                height: 10%;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }

            .copyright {
                font-size: 12px;
            }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

            body {
                margin: 0;
            }

            header {
                padding: 0;
            }

            .logo {
                width: 15%;
                margin-top: 0.3em;
            }

            .project-meta {
                font-size: 10px;
                margin-top: 9.5em;
                margin-right: 0;
                text-align: center;
                line-height: 10px;
                position: relative;
            }

            .image-list {
                width: auto;
                line-height: 0;
                margin-top: 0.5em;
                padding: 0;
            }

            .image-list img {
                margin-top: 0;
                margin-bottom: 0;
            }

            .item {
                width: 100%;
                margin-top: 4em;
            }

            .item p {
                font-size: 16px;
            }

            .item img {
                width: 80%;
            }

            .project {
                padding: 0;
            }

            .project h2 {
                font-size: 28px;
                letter-spacing: 0.03em;
            }

            .project p {
                width: 80%;
                font-size: 16px;
            }

            .btn {
                font-size: 12px;
                padding: 10px 15px;
                line-height: 50px;
            }

            .btnpos {
                margin-top: 1em;
                margin-bottom: 0;
            }

            iframe {
                height: 367px;
                margin-top: 0.3em;
                margin-bottom: 0.3em;
            }

            .screenshots-container {
                width: 100%;
            }

            .screenshots-container img {
                width: 40%;
            }

            .item .shootingstars {
                width: 60%;
            }

            .jens {
                width: 80%;
            }

            .item .jenswebimg {
                width: 60%;
            }

            .mobile img {
                width: 60%;
            }

            .mobile-container img {
                width: auto;
            }

            .colourpalettes img {
                width: 40%;
            }

            .contact img {
                width: 6%;
                height: 6%;
                margin-left: 0.4em;
                margin-right: 0.4em;
            }

            .copyright {
                font-size: 14px;
            }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

            body {
                margin: 0;
            }

            header {
                padding: 0.5em 0;
            }

            .logo {
                width: 20%;
                margin-top: 0.5em;
            }

            .project-meta {
                font-size: 14px;
                margin-top: 12em;
                margin-right: 0;
                text-align: center;
                line-height: 10px;
                position: relative;
            }

            .image-list {
                width: auto;
                line-height: 0;
                margin-top: 0.5em;
                padding: 0;
            }

            .image-list img {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }

            .btn {
                font-size: 16px;
                line-height: 70px;
                padding: 15px 20px;
            }

            .item {
                width: 100%;
                margin-top: 4.5em;
            }

            .project h2 {
                letter-spacing: 0.03em;
            }

            .project p {
                width: 77%;
            }

            .item p {
                font-size: 24px;
            }

            .item img {
                width: 75%;
            }

            .item .shootingstars {
                width: 60%;
            }

            .jens {
                width: 77%;
            }

            .mobile {
                width: 50%;
            }

            .mobile-container img {
                width: auto;
            }

            .colourpalettes img {
                width: auto;
            }

            iframe {
                width: 100%;
                height: 423px;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            .btnpos {
                margin-top: 1em;
                margin-bottom: 0;
            }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

            header {
                padding: 0.3em 0;
            }

            .logo {
                width: 10.5%;
                margin-top: 0.3em;
            }

            .project-meta {
                font-size: 14px;
                margin-top: 1em;
                margin-right: 2em;
                line-height: 10px;
            }

            .btn {
                font-size: 16px;
                line-height: 75px;
                letter-spacing: 1px;
                padding: 15px 15px;
            }

            .image-list {
                margin-top: 4em;
                padding: 1em 1em 0;
            }

            .image-list img {
                margin-bottom: 0.2em;
            }

            .item {
                width: 100%;
                margin-top: 4.5em;
            }

            .item img {
                width: 80%;
            }

            .project h2 {
                letter-spacing: 0.03em;
            }

            .project p {
                width: 80%;
            }

            iframe {
                height: 400px;
                margin-bottom: 0.5em;
            }

            .screenshots-container img {
                width: 45%;
            }

            .item .shootingstars {
                width: 50%;
            }

            .jens {
                width: 80%;
            }

            .item .jenswebimg {
                width: 60%;
            }

            .mobile img {
                width: 60%;
            }

            .mobile-container img {
                width: auto;
            }

            .colourpalettes img {
                width: auto;
            }

            .btnpos {
                margin-top: 0;
                margin-bottom: 0;
            }

            .footer {
                margin-top: 0.5em;
            }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

            header {
                padding: 0.3em 0;
            }

            .logo {
                margin-top: 0.3em;
            }

            .project-meta {
                font-size: 14px;
                margin-top: 1em;
                margin-right: 7em;
            }

            .image-list {
                width: 65%;
                margin-top: 5em;
                padding: 1em 2.5em 0;
            }

            .image-list img {
                margin-top: 0;
                margin-bottom: 0.3em;
            }

            .project {
                padding: 0;
            }

            .project h2 {
                font-size: 28px;
            }

            .item p {
                font-size: 16px;
            }

            .btn {
                font-size: 16px;
                padding: 15px 20px;
            }

            iframe {
                width: 100%;
                height: 487px;
                margin-bottom: 0.5em;
            }

            .footer {
                margin-top: 0.5em;
            }

            .copyright {
                font-size: 13px;
            }
}
