            *{ margin: 0;padding: 0;}

            body{
                color: white;
                font-size: 24px;
                font-family: 'Text Me One', sans-serif;
                text-align: center;
            }

            *, *::after, *::before{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            }

            @font-face {
                font-family:'kraftstoff';
                src: url('../fonts/Kraftstoff-Regular.otf');
            }

            #nav{
                width: 100%;
                line-height:  60px;
                height: 60px;
                background-color: rgba(255,255,255,0.80);
                font-size: 14px;
                font-weight: 700;
                color: #CCB3C0;
                position: absolute;
                text-align: center;
                z-index: 10000;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            a{
                color: #79766F;
                text-decoration: none;
                text-transform: uppercase;
            }

            nav .dot {
                color: #79766F;
                display: inline-block;
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            a:hover, a:focus {
                border-bottom: 1px solid #CCB3C0;
                padding-bottom: 3px;
            }

            nav {
                padding-left: 1em;
                padding-right: 1em;
                display: inline-block;
                letter-spacing: .480em;
            }

            .container{
                margin: 0 auto;
                width: 980px;
            }

            #backtotop, .backtotop {
                width: 10%;
                text-indent: -9999px;
                position: fixed;
                top: 50px;
                left: 30px;
                z-index: 20000;

                -webkit-animation-name: ballon-float;
                -webkit-animation-duration: 5s;
                -webkit-animation-iteration-count: infinite;
            }

            @-webkit-keyframes ballon-float {
                0% {
                    top: 7%;
                }
                20% {
                    top: 6%;
                }
                30% {
                    top: 5%;
                }
                40% {
                    top: 5%;
                }
                50% {
                    top: 6%;
                }
                60% {
                    top: 7%;
                }
                70% {
                    top: 6%;
                }
                80% {
                    top: 5%;
                }
                90% {
                    top: 5%;
                }
                100% {
                    top: 6%;
                }
            }

            #home{
                background: #f9f1e4;
                width: 100%;
                float: left;
                overflow: auto;
            }

            .logobar {
                width: 17%;
                display: inline-block;
                margin-bottom: 2em;
                height: 6px;
                background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
                border: 0;
            }

            .logo {
                width: 15%;
                display: inline-block;
/*                margin: 0 auto;*/
                margin-top: 2em;
                margin-left: 2em;
                margin-right: 2em;
            }

            #home h1 {
                font-family: 'kraftstoff', sans-serif;
                font-size: 60px;
                letter-spacing: 0.1em;
                color: #c7a0ae;
                margin-top: 0.2em;
                text-align: center;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
            }

            h1 {
                font-family: 'Text Me One', sans-serif;
                margin-top: 20px;
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 0.4em;
                color: #666666;
                text-align: center;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
            }

            .lable {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 30px;
                font-weight: 300;
                color: #666666;
                text-align: center;
                -webkit-font-smoothing: antialiased;
            }

            #home p {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 17px;
                font-weight: 200;
                text-align: center;
                color: #666666;
                margin-top: 0.5em;
                margin-bottom: 2.5em;
                text-align: center;
                -webkit-font-smoothing: antialiased;
            }

            .contactText {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 45px;
                color: #7B95AC;
                margin-top: 3em;
                padding-left: 0;
                font-weight: 600;
                letter-spacing: 0;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
            }

            hr {
                width: 7%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.3em;
                margin-bottom: 0.3em;
                color: #7B95AC;
                background-color: #7B95AC;
                border-style: solid;
            }

            .icons {
                width: 20%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1.3em;
                margin-bottom: 1.3em;
            }

            .title {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                width: 100%;
                float: left;
                padding: 1em 1em 0;
                color: #7b95ac;
                font-size: 12px;
                margin-bottom: 3em;
                letter-spacing: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .interestLogos {
                width: 20%;
                position: relative;
                display: inline-block;
                margin-top: 1em;
            }

            .interestLogos img {
                width: 50%;
            }

            #works{
                background: #FFFFFF;
                width: 100%;
                float: left;
                overflow: auto;
            }

            .animsition {
                width: 70%;
                margin-left: 7em;
                margin-top: 3em;
                margin-bottom: 3em;
            }

            .animsition-link a:hover {
                border-bottom: none;
            }

            .column1 {
                width: 29.4%;
                display: block;
                float: left;
                clear: left;
                margin: 0.25em;
            }

            .sbox1, .sbox2 {
                overflow: hidden;
                position: relative;
                float: left;
                display: inline-block;
            }

            .sbox1 img, .sbox2 img {
                width: 100%;
                position: relative;
            }

            .column2 {
                width: 22%;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .column3 {
                width: 26.6%;
                display: inline-block;
                float:left;
                margin: 0.25em;
            }

            .bbox {
                overflow: hidden;
                float: left;
                position: relative;
                height: auto;
            }

            .row1 {
                width: 29.4%;
                display: block;
                float: left;
                margin: 0.25em;
            }

            .row2 {
                width: 50%;
                display: block;
                float: left;
                margin: 0.25em;
            }

            .row3 {
                width: 38.5%;
                position: relative;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .row3 img {
                width: 100%;
                display: block;
            }

            .row4 {
                width: 40.8%;
                position: relative;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .row4 img {
                width: 100%;
                display: block;
            }

            .row5 {
                width: 80.5%;
                position: relative;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .row5 img {
                width: 100%;
                display: block;
            }

            .row6 {
                width: 38.5%;
                position: relative;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .row6 img {
                width: 100%;
                display: block;
            }

            .row7 {
                width: 40.8%;
                position: relative;
                display: inline-block;
                float: left;
                margin: 0.25em;
            }

            .row7 img {
                width: 100%;
                display: block;
            }

            .lilred {
                width: 100%;
                position: relative;
            }

            .origami {
                width: 100%;
                position: relative;
            }

            .content {
                background: #B6A2C6;
                color: white;
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100;
                opacity: 0;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                transition: opacity 500ms;
            }

            .sbox2 .content {
                background: #A6E8FA;
            }

            .row1 .content {
                background: #A2C6C4;
            }

            .row2 .content {
                background: #A2C6C4;
            }

            .row3 .content {
                background: #A2C6C4;
            }

            .row7 .content {
                background: #A6E8FA;
            }

            .content h3 {
                font-family: 'Carrois Gothic SC', sans-serif;
                font-weight: 600;
                letter-spacing: 0.05em;
                -webkit-font-smoothing: antialiased;
            }

            .content p {
                font-family: 'Text Me One', sans-serif;
                font-size: 18px;
                text-transform: none;
            }

            .content div {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 30%;
                margin: auto;
            }

            .column1 .sbox1:hover .content,
            .column1 .sbox2:hover .content,
            .column2 .bbox:hover .content,
            .column3 .bbox:hover .content,
            .row1 .bbox:hover .content,
            .row2 .bbox:hover .content,
            .row3 .bbox:hover .content,
            .row4 .bbox:hover .content,
            .row5 .bbox:hover .content,
            .row6 .bbox:hover .content,
            .row7 .bbox:hover .content {
                opacity: 1;
            }

            .shattered {
                width: 100%;
                position: relative;
            }

            .PC {
                width: 100%;
                position: relative;
            }

            #contact{
                background: #f9f1e4;
                width: 100%;
                float: left;
                overflow: auto;
            }

            .contactmsg{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                color: #ACA08D;
                margin-top: 1.5em;
                margin-bottom: 1.5em;;
                font-weight: 300;
                -webkit-font-smoothing: antialiased;
            }

            .email {
                font-family: 'Source Sans Pro', sans-serif;
                color: #ACA08D;
                margin-top: 0.5em;
                margin-bottom: 3em;
            }

            .longline {
                width: 55%;
                opacity: 0.5;
                height: 6px;
                background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
                border: 0;
            }

            .socialmedia {
                margin-top: 1em;
            }

            .socialmedia a {
                border-bottom: none;
            }

            .socialmedia a:hover {
                opacity: 0.7;
            }

            .copyright {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
                color: #ACA08D;
                padding: 1.5em 1.5em;
            }

@media (max-width: 40em) {

            nav {
                padding-left: 0.5em;
                padding-right: 0.5em;
                letter-spacing: 0.28em;
            }

            nav .dot {
                padding-left: 0;
                padding-right: 0;
            }

            .container{
                margin: 0 auto;
                width: 100%;
                float: left;
            }

            .logobar {
                margin-bottom: 1.5em;
            }

            .logo {
                width: 30%;
                margin-left: 0.5em;
                margin-right: 0.5em;

            }

            #home{
                line-height: 50px;
                height: 773px;
            }

             #home h1 {
                font-size: 50px;
            }

            .lable {
                margin-top: 0;
                font-size: 25px;
            }

            #home p {
                margin-top: 0;
                margin-bottom: 1.5em;
                line-height: 30px;
            }

            hr {
                width: 20%;
            }

            .interestLogos {
                width: 30%;
                line-height: 40px;
                margin-top: 0.5em;
            }

            .title {
                font-size: 8px;
                padding: 0;
                margin-bottom: 0.5em;
                line-height: 25px;
            }

            .icons {
                width: 15%;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            #works .animsition {
                width: 90%;
                margin-left: 0;
                margin-top: 2em;
                margin-bottom: 1em;
            }

            .row5 {
                margin-top: 1em;
                width: auto;
            }

            .row6 {
                width: auto;
            }

            .row4 {
                width: auto;
            }

            .row7 {
                width: auto;
            }

            .row3 {
                width: auto;
            }

            .column1 {
                width: 98%;
                margin-left: auto;
                margin-right: auto;
            }

            .column2 {
                width: 42.5%;
            }

            .column3 {
                width: 50%;
            }

            .row1 {
                width: auto;
            }

            .row2 {
                width: auto;
            }


            .contactText {
                margin-top: 2em;
            }

            .contactmsg{
                width: 70%;
                margin: auto;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }

            #backtotop, .backtotop {
                visibility: hidden;
            }

}

@media (max-width: 70em) {

            .animsition {
                width: 80%;
                margin-top: 3em;
                margin-bottom: 4.5em;
                margin-left: 5.5em;
            }

}
